<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Equipos</title>
		<link rel="stylesheet" href="css/estilos.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	
	<body>
		<div id="contenedor">
			<header>
				<h1>Liga de Futbol Profesional</h1>
			</header>
			
			<nav>
				<ul>
					<li ><a style="color:#ffffff" href="index.html">Home</a></li>
					<li ><a style="color:#ffffff" href="Fixture y Resultado.html" target="_blank">Fixture y Resultado</a></li>
					<li ><a style="color:#ffffff" href="Equipos.html" target="_blank">Equipos</a></li>
				</ul>
			</nav>
			
			<section id="contenido">				
				<div>
					 <img class="alineadoTextoImagenArriba"  src="img/boca.jpg"  width="200" height="150"/>
					 La historia del Club Atlético Boca Juniors transcurre desde 1905 año en que se fundó como club en Buenos Aires.El fútbol fue desde los comienzos la esencia del club y, aunque posteriormente el crecimiento de la institución promovió el desarrollo de otras actividades como las bochas o el básquet, aquel permaneció como la disciplina deportiva sobre la cual se sustenta la entidad y la que le valió su reconocimiento a nivel nacional e internacional. 
				 </div>
				 <br> <br>				
				 <div>
					 <img class="alineadoTextoImagenArriba"  src="img/river.png" width="200" height="150"/>
					  El club fue fundado el 25 de mayo de 1901 en el barrio de La Boca, tras la fusión de los clubes Santa Rosa y La Rosales. Su nombre proviene de la antigua denominación que se le daba en inglés británico al Río de la Plata.Además, en el club se practican otras 65 disciplinas distintas, posee institutos educativos en todos los niveles académicos y fomenta actividades culturales y sociales de diversa índole.
				 </div>			
			</section>
			
			<aside >				
				<h2>Auspiciantes</h2>
				<div class="aside" ><img src="img/nike.jpg" width="200" height="100"/></div>
				<div  class="aside" ><img src="img/pepsi.jpg"  width="200" height="100"/></div>
				<div  class="aside" ><img src="img/marcaVW.jpg"  width="200" height="100"/></div>			
			</aside>
			
			<footer>
				<div class="sociales">
				<a><i class="fab fa-facebook-square"></i></a>
				<a><i class="fab fa-twitter-square"></i>  </a>
				<a>Avda.Pedro Ortiz de Zarate N° 455- tel 3884789555</a>
				</div>				
			</footer>
		</div>	
	</body>
</html>